@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Signika+Negative:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* GRID */
.container {
  height: 100vh;
  width: 100vw;
  background: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav {
  height: 9vh;
  width: 92vw;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 4;
  margin-left: 120px;
}

.sidebar {
  height: 100vh;
  width: 6.8vw;
  background: #d1dfdf;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_content {
  height: 91vh;
  width: 92vw;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 3;
  position: absolute;
  top: 9vh;
  left: 6.8vw;
}

/* GRID */
/* NAV */
nav {
  height: 9vh;
  width: 91vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  margin-left: 6vw;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  margin: 0vw 3vw;
  color: white;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
}

.bi {
  margin: 0vh 5vh;
}

/* NAV */
/* sidebar */
#sidebar_img {
  width: 5vw;
}

#sidebar_p {
  writing-mode: vertical-lr;
  margin-top: 7vh;
  letter-spacing: 20px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

/* sidebar */
.sub_main_content {
  display: inline-block;
  width: 40vw;
  margin: 6vh 2vh;
}

#sub_main_content_1 {
  font-family: 'Signika Negative', sans-serif;
  font-size: 141px;
  color: white;
}

#sub_main_content_2 {
  font-family: 'Signika Negative', sans-serif;
  font-size: 38px;
  color: white;
  font-style: italic;
  margin-top: -4vh;
}

#sub_main_content_3 {
  color: white;
  font-size: 35px;
  margin-top: 3vh;
  font-family: 'Signika Negative', sans-serif;
}

#sub_main_content_4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  margin-top: 7vh;
  font-size: 14px;
}

button {
  margin: 10vh 0vh;
  padding: 13px;
  border-radius: 38px;
  font-size: 15px;
  font-weight: 600;
  background: #d1dfdf;
}

.main_content1 {
  position: absolute;
  top: 0vh;
  height: 91vh;
  width: 58vw;
  left: 34vw;
}

.sub_main_content1_1 {
  background: rgb(32 27 27 / 52%);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
  border: 0px solid rgba(25, 24, 24, 0.29);
  height: 18vh;
  width: 9vw;
  position: absolute;
  top: 18vh;
  left: 1vw;
}

.sub_main_content1_2 {
  background: rgb(30 30 30);
border-radius: 50%;
box-shadow: 0 4px 87px rgb(243 239 239 / 16%);
backdrop-filter: blur(-20.7px);
-webkit-backdrop-filter: blur(16.3px);
border: 1px solid rgba(16, 15, 15, 0.3);
height: 45vh;
backdrop-filter: blur(8px);
width: 22vw;
position: absolute;
top: 0vh;
left: 12vw;
}
#shoe_img
{
  position: absolute;
width: 59vw;
top: -25vh;
left: -4vw;
transform: rotate(-20deg);
}
.sub_main_content1_3 {
  background: rgb(32 27 27 / 52%);
border-radius: 50%;
box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
backdrop-filter: blur(8.7px);
-webkit-backdrop-filter: blur(8.7px);
border: 0px solid rgba(25, 24, 24, 0.29);
height: 23vh;
width: 11vw;
position: absolute;
top: 54vh;
left: 25vw;
}

.sub_main_content1_4 {
  background: rgb(32 27 27 / 52%);
border-radius: 50%;
box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
backdrop-filter: blur(8.7px);
-webkit-backdrop-filter: blur(8.7px);
border: 0px solid rgba(25, 24, 24, 0.29);
height: 29vh;
width: 14vw;
position: absolute;
top: 14vh;
left: 43vw;
}
